{% extends "@shared/base.html" %} 

{% block title %}Home{% endblock %} 

{% block head %} 
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/main.css" />
{% endblock %} 

{% block content %}

<header class="header">
  <nav class="navbar navbar-expand-lg navbar-default">
    <div class="container">
      <a class="navbar-brand" href={{ route("/") }}>
        <img src="assets/img/logo.svg" alt="psicoangola logo" />
        <span>Psico<strong>Angola</strong></span>
      </a>
      
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={{ route("/") }}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#doctors">Nossos Psicoólogos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
        {% if isAuth == 0 %}
          <div class="d-flex buttons">
            <a href={{ route("/auth") }}>Entrar</a>
            <a href={{ route("/register") }}>Criar conta</a>
          </div>        
        {% endif %}
      </div>
    </div>
  </nav>
</header>

<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 hero-content">
        <h1>Be prepared for digital consulting on psicoangola</h1>
        <p>
          Are you looking for amazing hiking travel? Don’t worry! We got it for
          you!
        </p>

        <div class="hero-buttons">
          <a href={{ route("/backoffice") }}>Acessar painel</a>
          <a href="#">Assistir vídeo</a>
        </div>
      </div>
      <div class="col-lg-6 hero-image">
        <img
          src="assets/img/hero-image.png"
          alt="Doctor using a pc for video calling"
        />
      </div>
    </div>
  </div>
</section>

<section class="card-list">
  <div class="container">
    <div class="suggestions">
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/img/location.svg" alt="locations" />
          <h4>Consulta à distância</h4>
          <p>
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
            eiusmod tempor.
          </p>
          <a href="#">Ler mais</a>
        </div>
        <div class="col-lg-4">
          <img src="assets/img/location.svg" alt="locations" />
          <h4>Consulta à distância</h4>
          <p>
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
            eiusmod tempor.
          </p>
          <a href="#">Ler mais</a>
        </div>
        <div class="col-lg-4">
          <img src="assets/img/location.svg" alt="locations" />
          <h4>Consulta à distância</h4>
          <p>
            Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
            eiusmod tempor.
          </p>
          <a href="#">Ler mais</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 citation">
          <span>
            Envie uma mensagem para reservar e agendar a consulta com um
            <strong>psicologo</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img
          src="assets/img/reservation.png"
          alt="Woman search to hospital for consulting"
        />
      </div>
      <div class="col-lg-6 about-content">
        <h2>Agende as tuas consultas com psicólogo</h2>

        <div class="paragraph">
          <p>
            Volunteer trail stewardship projects in America’s parks and forests
            designed specifically for college student groups and young
            professionals.
          </p>

          <img src="assets/img/one.png" alt="one number" />
        </div>

        <a href="#">Contactar</a>
      </div>
    </div>
  </div>
</section>

<section class="doctors" id="doctors">
  <div class="container">
    <div class="row">
      <div class="col-ls-12 text-center doctor-describe">
        <span>Trabalhadores qualificados</span>
        <h2>Apresentamos os nossos psicologos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="doctor-card">
          <img src="assets/img/avatar.png" alt="doctor name" />
          <h4>António Gabriel</h4>
          <span>Psicologo Criminal</span>
          <p>
            <em>
              “Everyone working in the office is very knowledgeable about all
              types of dental work and options for your individual needs.”
            </em>
          </p>

          <a href="#">Contactar</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="doctor-card">
          <img src="assets/img/avatar.png" alt="doctor name" />
          <h4>Herlander Bento</h4>
          <span>Psicologo Geral</span>
          <p>
            <em>
              “Everyone working in the office is very knowledgeable about all
              types of dental work and options for your individual needs.”
            </em>
          </p>

          <a href="#">Contactar</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="doctor-card">
          <img src="assets/img/avatar.png" alt="doctor name" />
          <h4>Jorge Neto</h4>
          <span>Psicologo da bandidagem</span>
          <p>
            <em>
              “Everyone working in the office is very knowledgeable about all
              types of dental work and options for your individual needs.”
            </em>
          </p>

          <a href="#">Contactar</a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="doctor-card">
          <img src="assets/img/avatar.png" alt="doctor name" />
          <h4>Paulo Lopes</h4>
          <span>Psicologo de doença</span>
          <p>
            <em>
              “Everyone working in the office is very knowledgeable about all
              types of dental work and options for your individual needs.”
            </em>
          </p>

          <a href="#">Contactar</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="attendance">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 attendance-content">
        <h2>Confie nos nossos atendimentos, e desfrute.</h2>

        <div class="paragraph">
          <p>
            Volunteer trail stewardship projects in America’s parks and forests
            designed specifically for college student groups and young
            professionals.
          </p>

          <img src="assets/img/two.png" alt="two number" />
        </div>

        <a href="#">Contactar</a>
      </div>

      <div class="col-lg-6 attendance-image">
        <img
          src="assets/img/attendance.png"
          alt="Woman and man called in the psicoangole"
        />
      </div>
    </div>
  </div>
</section>

<section class="newslatter">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 newslatter-describe">
        <div class="aux">
          <h2>Inscreva-se e saiba de todas as novidades e correntes.</h2>
          <p>
            We have hiking-related blog so we can share our thought and rutinity
            in our blog that updated weekly. We will not spam you, we promise.
          </p>
        </div>
      </div>
      <div class="col-lg-12 newslatter-form">
        <form action="#">
          <div class="newslatter-input">
            <img src="assets/img/mail.png" alt="message icon" />
            <input type="text" placeholder="Enter your e-mail address" />
          </div>

          <a href="#">Subscrever</a>
        </form>
      </div>
    </div>
  </div>
</section>

<footer id="contacts">
  <div class="container">
    <div class="row footer-content align-items-center">
      <div class="col-lg-6">
        <div class="footer-detail">
          <a class="navbar-brand" href="#">
            <img src="assets/img/logo.svg" alt="psicoangola logo" />
            <span>Psico<strong>Angola</strong></span>
          </a>

          <p>
            We envision a world where everyone feels welcome in the American
            hiking community.
          </p>

          <div class="social">
            <img src="assets/img/facebook.png" alt="facebook" />
            <img src="assets/img/twitter.png" alt="twitter" />
            <img src="assets/img/instagram.png" alt="instagram" />
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <h4>Localização</h4>

        <ul>
          <li>América</li>
          <li>Asia</li>
          <li>Europa</li>
          <li>África</li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h4>Contacts</h4>

        <ul>
          <li>Sobre nós</li>
          <li>Termos</li>
          <li>Perfil</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h4>Company</h4>

        <ul>
          <li>Privacidade</li>
          <li>Declaramentos</li>
          <li>Termos</li>
          <li>Empresa</li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <span>Copyright © 2022. Todos os direitos reservados.</span>
    </div>
  </div>
</footer>

{% endblock %}
